@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #0d0c22;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; 
}

.group {
    margin: 10px;
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
  }
  
  .input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding-left:50px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }

  .input::placeholder {
    color: #94a3b8;
  }
  
  .input:focus, input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
    overflow: hidden;
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
  }

  .signBtn { 
    margin: 10px;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
  }
  
    .signBtn:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

.card {
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 340px;
    height: 440px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }

  .title{
    font-size: 40px;
    border-bottom: 3px solid black;
    padding: 5px;
  }
  .eye-icon {
    position: absolute;
    right: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
    display: block;
    cursor: pointer;
  }
  
  .info-card{
    display: flex;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease-in-out;
  }
  .member{
    font-size: 15px;
    color: #4a4c4e;
  }

  a{
    text-decoration: none;
    color: #3b82f6;
  }
  a:hover{
    cursor: pointer;
    font-weight: bold;
  }
  .hide{
    display: none;
  }
  
